@import url('//fonts.googleapis.com/css?family=Syncopate');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Syncopate';
}

.container {
    top: 100px;
}

.darkmode-switch {
    position: absolute;
    top: 8px;
    left: 10px;
}

.darkmode-label {
    font-size: x-small;
    position: absolute;
    top: 25px;
    width: 55px;
}

.header {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

header {
    text-align: center;
}

