@import url('//fonts.googleapis.com/css?family=Syncopate');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Syncopate';
}

.header {
    display: block;
    position: relative;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.links {
    display: block;
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
}

.row {
    margin-bottom: 20px;
}

.darkmode-switch {
    position: absolute;
    top: 8px;
    left: 10px;
}

.darkmode-label {
    font-size: x-small;
    position: absolute;
    top: 25px;
    width: 55px;
}

.header {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

header {
    text-align: center;
}

