@import url('//fonts.googleapis.com/css?family=Syncopate');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Syncopate';
}

.container {
    position: absolute;
    /* top: 20px; */
    margin: 30px auto;
    border: 1px solid steelblue;
}

.darkmode-switch {
    position: absolute;
    top: 8px;
    left: 10px;
}

.darkmode-label {
    font-size: x-small;
    position: absolute;
    top: 25px;
    width: 55px;
}

.header {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

header {
    text-align: center;
}

.info {
    display: flex;
    position: relative;
}

.info table {
    display: block;
    position: absolute;
    left: 20px;
    border-collapse: collapse;
    margin: auto;
    margin-top: 40px;
    width: 60%;
    height: 100px;
}

.info table td.property {
    padding-bottom: 35px;
    padding-right: 10px;
    text-align: right;
}

.info table td.value {
    padding-bottom: 35px;
    padding-left: 10px;
    text-align: left;
}

.imgcon {
    position: absolute;
    left: 230px;
    justify-content: center;
    margin-top: 25px;
}

.imgcon img {
    display: block;
    margin-bottom: 10px;
}

.char-img {
    margin-left: 10px;
    margin-right: 10px;
}

.char-preview {
    position: absolute;
    left: 340px;
    top: 30px;
    width: 452px;
    height: 502px;
    border: 1px solid goldenrod;
    border-radius: 2px;
}

.char-preview-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn_generate {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
}
